@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    
}
body{
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    width: 100%;

}
.container{
    overflow: hidden;
    margin: auto;
    width: 100%;
    padding: 30px ;
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 640px) {
        max-width: 640px;
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media only screen and (min-width: 1024px) {
        max-width: 1024px;
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 1280px) {
        max-width: 1280px;
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1536px) {
        max-width: 1536px;
    }
    
}

.intro{
    height: 100vh;
    //display: flex;
    //position: fixed;
    
    width: 100%;
    //flex-direction: column;
    &__navbar{
        background-color: rgba(31, 39, 43, 0.25);
        //padding: 30px;
        position: fixed;
        z-index: 1000;
        position: absolute;
        //align-items: center;
        width: 100%;
        &__content{
            
            display: flex;
            justify-content: space-between;
            &__heading{
    
                img{
                    max-height: 22px;
                }
            }
            &__nav{
                @media only screen and (max-width: 1024px) {
                    display: none;
                }
                &__list{
                    list-style: none;
                    display: flex;
                    justify-content:space-between ;
                    gap: 20px;
                    &__item{
                        a{
                            color: #111;
                            text-decoration: none;
                        }
    
                    }
                }
            }
    
            &__icons{
                display: flex;
                justify-content: space-between;
                gap: 15px;
                @media only screen and (max-width: 480px) {
                    display: none;
                }
                i{
    
                }
            }
        }
    }

    &__main{
        background-attachment: fixed;
        width: 100%;
        display: flex;
        //justify-content: flex-start;
        align-items: center;
        background-image:url(images/banner-images/banner-image-1.jpg);
        background-position: center;
        background-size: cover;
        height:100%;
        @media only screen and (max-width: 470px) {
            background-image: none;
            //height: 150vh;
            
        }
        
        &__text{
            @media only screen  and (max-width: 800px) {
                width: 100%;
            }
            @media only screen and (max-width: 470px) {
                padding-top: 250px;
                
            }
            width: 60%;
            position: absolute;
            h3{
                
                font-size: 62px;
                font-weight: bold;
                margin-bottom: 40px;
                
            }
            p{
                font-size: 18px;
                width: 75%;
                margin-bottom: 40px;
            }
            button{
                padding: 20px 40px;
                color: black;
                background: transparent;
                font-weight: bold;
                font-size: 16px;
                border: 2px solid black;


                &:hover{
                    color: #d2b356;;
                    transition: .5s ease;
                    border: 2px solid #d2b356;
                    cursor: pointer;
                }
            }
        }
        
    }

}

.about{
    background-color:red;
    //width: 100%;
    height: 100%;
    
    &__content{
        align-items: center;
        display: flex;
        //width: 100%;
        height: 100%;
        @media only screen and (max-width: 765px) {
            flex-direction: column;
        }

        &__definition{
            
            h5{
                font-size: 14px;
                color: #ccc;
            }
            h3{
                font-size: 34px;
                margin-top: 30px;
            }
            p{
                color: #9c9c9c;
                font-size: 16px;
                line-height: 25px;
                margin-top: 30px;   
            }
        }
        
        &__features{

            &__line{
                gap: 30px;
                display: flex;
                @media only screen and (max-width: 630px) {
                    flex-direction: column;
                }
                &__text{

                    i{
                        color: #d2b356;
                        font-size: 30px;
                        margin-top: 50px;
                    }
                    h5{
                        color: #111;
                        font-size: 22px;
                        margin-top: 30px;
                    }
                    p{
                        line-height: 25px;
                        margin-top: 20px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}