@media only screen and (max-width: 470px) {
    margin-top: 100px;
}
&__content{
    //background-color: rebeccapurple;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 765px) {
        flex-direction: column;
    }
    //justify-content: space-between;
    
    &__definition{
        //width: 50%;

        h5{
            font-size: 14px;
            color: #ccc;
            
        }
        h3{
            font-size: 34px;
            margin-top: 30px;
        }
        p{
            color: #9c9c9c;
            font-size: 16px;
            line-height: 25px;
            margin-top: 30px;
        }
    }
    &__features{
        
        //margin-left: 100px;
        &__line{
            @media only screen and (max-width: 765px) {
                flex-direction: column;
            }
            gap: 30px;
            display: flex;
            &__text{
                //width: 50%;
                i{
                    color: #d2b356;
                    font-size: 30px;
                    margin-top: 50px;
                }
                h5{
                    color: #111;
                    font-size: 22px;
                    margin-top: 30px;
                }
                p{
                    line-height: 25px;
                    margin-top: 20px;
                    font-size: 18px;
                }
            }
        }
    }
}